.gameSpace {
  background-color: rgb(185, 245, 179);
  border-left-width: 20px;
  border-right-width: 20px;
  height: 300px;
  width: auto;
  overflow: hidden;
  align-content: center;
}

#gameTitle {
  font-size: 30px;
  text-align: center;
  font-family: "Audiowide", cursive;
  padding: 30px;
  border: 5px solid black;
  background-color: powderblue;
}

#player1 {
  position: relative;
  float: left;
  height: 98%;
  width: 20%;
  border: 2px solid red;
  margin: 2px;
  text-align: center;
  font-family: "Audiowide", cursive;
  background-color: powderblue;
}

#p1 {
  position: relative;
  float: left;
  top: 10%;
  height: 90px;
  width: 90px;
  margin-left: 80px;
}

#p2 {
  position: relative;
  float: right;
  top: 10%;
  height: 70px;
  width: 70px;
  margin-right: 150px;
}

#player2 {
  position: relative;
  float: right;
  height: 98%;
  width: 20%;
  border: 2px solid blue;
  margin: 2px;
  text-align: center;
  font-family: "Audiowide", cursive;
  background-color: powderblue;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.shootBtn {
  background-color: white;
  font-family: "Audiowide", cursive;
  color: black;
  text-align: center;
  text-decoration: none;
  border: 2px solid #af4c4c;
  margin-top: 235px;
  margin-left: 300px;
  display: inline-block;
  cursor: pointer;
}

.shootBtn:hover {
  background-color: #af4c4c;
  color: white;
}

.resetBtn {
  background-color: white;
  font-family: "Audiowide", cursive;
  color: black;
  border: 2px solid #008cba;
}

.resetBtn:hover {
  background-color: #00ba09;
  color: white;
}

.table {
  font-family: "Audiowide", cursive;
  font-size: 20px;
}

.table td {
  font-size: 25px;
}


